.loading-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0.2;
    display: none;
}

.windows8 {
    position: relative;
    width: 110px;
    height: 110px;
    margin: -55px 0 0 -55px;
    top: 50%;
    left: 50%;
}

    .windows8 .wBall {
        position: absolute;
        width: 105px;
        height: 105px;
        opacity: 0;
        transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        animation: orbit 4.2325s infinite;
        -o-animation: orbit 4.2325s infinite;
        -ms-animation: orbit 4.2325s infinite;
        -webkit-animation: orbit 4.2325s infinite;
        -moz-animation: orbit 4.2325s infinite;
    }

        .windows8 .wBall .wInnerBall {
            position: absolute;
            width: 14px;
            height: 14px;
            background: rgb(72,86,194);
            left: 0px;
            top: 0px;
            border-radius: 14px;
        }

    .windows8 #wBall_1 {
        animation-delay: 0.926s;
        -o-animation-delay: 0.926s;
        -ms-animation-delay: 0.926s;
        -webkit-animation-delay: 0.926s;
        -moz-animation-delay: 0.926s;
    }

    .windows8 #wBall_2 {
        animation-delay: 0.183s;
        -o-animation-delay: 0.183s;
        -ms-animation-delay: 0.183s;
        -webkit-animation-delay: 0.183s;
        -moz-animation-delay: 0.183s;
    }

    .windows8 #wBall_3 {
        animation-delay: 0.3665s;
        -o-animation-delay: 0.3665s;
        -ms-animation-delay: 0.3665s;
        -webkit-animation-delay: 0.3665s;
        -moz-animation-delay: 0.3665s;
    }

    .windows8 #wBall_4 {
        animation-delay: 0.5495s;
        -o-animation-delay: 0.5495s;
        -ms-animation-delay: 0.5495s;
        -webkit-animation-delay: 0.5495s;
        -moz-animation-delay: 0.5495s;
    }

    .windows8 #wBall_5 {
        animation-delay: 0.743s;
        -o-animation-delay: 0.743s;
        -ms-animation-delay: 0.743s;
        -webkit-animation-delay: 0.743s;
        -moz-animation-delay: 0.743s;
    }



@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin: 0%;
    }

    30% {
        opacity: 1;
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin: 7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin: 30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 70%;
    }

    76% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

